In [49]:
import pandas as pd 
import nltk
from sklearn.feature_extraction.text import  TfidfVectorizer
nltk.download('punkt_tab')
nltk.download('wordnet')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Lyster\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Lyster\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

### Data Loading .

In [50]:
df_train= pd.read_csv('twitter_training.csv',index_col=1)

In [51]:
df_val = pd.read_csv('twitter_validation.csv')

In [52]:
df_train.head()

,2401,Positive,"im getting on borderlands and i will murder you all ,"
Borderlands,,,
Borderlands,2401,Positive,I am coming to the borders and I will kill you...
Borderlands,2401,Positive,im getting on borderlands and i will kill you ...
Borderlands,2401,Positive,im coming on borderlands and i will murder you...
Borderlands,2401,Positive,im getting on borderlands 2 and i will murder ...
Borderlands,2401,Positive,im getting into borderlands and i can murder y...

In [53]:
df_train.columns

Index(['2401', 'Positive',
       'im getting on borderlands and i will murder you all ,'],
      dtype='object')

In [54]:
#Dropping the unecessary columns
df_train = df_train[['Positive','im getting on borderlands and i will murder you all ,']]
df_train.head()

             Positive im getting on borderlands and i will murder you all ,
Borderlands
Borderlands  Positive  I am coming to the borders and I will kill you...
Borderlands  Positive  im getting on borderlands and i will kill you ...
Borderlands  Positive  im coming on borderlands and i will murder you...
Borderlands  Positive  im getting on borderlands 2 and i will murder ...
Borderlands  Positive  im getting into borderlands and i can murder y...

In [55]:
df_train.rename(columns = {'Positive':'status','im getting on borderlands and i will murder you all ,':'text'},inplace = True)
df_train.head()

               status                                               text
Borderlands
Borderlands  Positive  I am coming to the borders and I will kill you...
Borderlands  Positive  im getting on borderlands and i will kill you ...
Borderlands  Positive  im coming on borderlands and i will murder you...
Borderlands  Positive  im getting on borderlands 2 and i will murder ...
Borderlands  Positive  im getting into borderlands and i can murder y...

In [56]:
df_train.shape

(74681, 2)

In [57]:
df_train.isna().sum()

status      0
text      686
dtype: int64

In [61]:
df_train = df_train.dropna()

In [59]:
df_train.isna().sum()

status    0
text      0
dtype: int64

In [60]:
df_train.shape

(73995, 2)

In [62]:
df_train.duplicated().sum()

4227

In [63]:
df_train = df_train.drop_duplicates()

In [64]:
df_train.shape

(69768, 2)